#top_table {
    position: relative;
    margin-top: 30px;
    padding-left: 400px;
    padding-bottom: 30px;
    cursor: default;
}

#top_table td {
    font-size: 30px;
    font-weight: bold;
    color: #121537;
    height: 38px;
}

#top_table td:first-child {
    text-align: right;
    padding-right: 30px;
}

#top_table td:first-child:hover {
    background: #efefef;
}


#top_table td:last-child {
    text-align: center;
    border-radius: 50px;
    width: 38px;
}

#top_table tr:nth-child(1) td:nth-child(2){
    background: gold;
}

#top_table tr:nth-child(2) td:nth-child(2){
    background: silver;
}

#top_table tr:nth-child(3) td:nth-child(2){
    background: #de6e0b;
}

#top_menu {
    position: fixed;
    width: 700px;
    left: 1000px;
    top: 30px;
    height: 250px;
}

#top_menu_choice {
    margin-top: 25px;
    width: 250px;
}

#top_menu_roll, #top_menu_choice {
    float: left;
}

#top_menu_roll {
    min-width: 350px;
    height: 100%;
}

#top_menu_roll_head {
    display: none;
}

#top_menu_roll_body {
    margin-top: 5px;
    height: 384px;
    border: 2px solid #2a2f5b;
    overflow: scroll;
    scrollbar-width: none;
    display: none;
}

#top_menu_roll_body .tmr_bInst {
    height: 32px;
    line-height: 32px;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}


#top_menu_roll_body div:nth-child(odd) {
    background: rgb(240,240,240);
}

#top_menu_roll .tmr_hpick {
    width: 46%;
    display: inline-block;
    text-align: center;
    margin: 2%;
    font-size: 20px;
    cursor: pointer;
    box-sizing:border-box; 
}

.tmr_hpick_inv {
    opacity: 0%;
}

.tmr_hpick_inv:hover {
    opacity: 10%;
}

.tmr_hpick_selected {
    border: 2px solid gold;
}

.tmenu_inst {
    width: 200px;
    height: 50px;
    background: #e4e4e4;
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    margin: 20px 0 20px 0;
    box-shadow: 7px -7px 0 #d2d2d2;
    transition-duration: 0.3s;
    cursor: pointer;
}

.tmenu_inst:hover {
    box-shadow: 7px -7px 0 #2a2f5b;
}

.tmenu_inst_picked {
    box-shadow: 7px -7px 0 #2a2f5b;
}

.tmr_bInst:hover {
    box-shadow: inset 0px 0px 5px rgb(0,0,0,0.2);
}

.tmr_bInst_hidden {
    display: none;
}